﻿@model IEnumerable<E_Shop.CORE.Domain.Classes.Comment>

@{
    ViewBag.Title = "TestService";
}

<h2>TestService</h2>

<table class="table">
    <tr>
        <th>
            Variedad
        </th>
        <th>
            Usuario
        </th>
        <th>
            Fecha
        </th>
        <th>
            Texto
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Variety)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            </td>
        </tr>
    }
</table>
