﻿@model E_Shop.Web.Models.Shop.FamilyMenuViewModel


@foreach (var p in Model.ParentFamily)
{
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent=".accordian" href="#keys">
                <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                @(@p.Name + "S")
            </a>
        </h4>
    </div>
    <div id="keys" class="panel-collapse collapse">
        <div class="panel-body">

    @foreach (var s in Model.SonFamily)
    {
        foreach (var t in s)
        {
            foreach (var v in t)
            {
                <ul>
                    <li>
                        <a href="#">@v.Name</a>
                    </li>
                </ul>
            }
        }
    }
    </div>
    </div>
}




