﻿@model IEnumerable<E_Shop.CORE.Domain.Classes.Product>

@{
    ViewBag.Title = "TestService";
}

<h2>TestService</h2>

<p>
    @Html.ActionLink("Create Producto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Marca
        </th>
        <th>
            Modelo
        </th>
        <th>
            Precio
        </th>
        <th>
            Descripción
        </th>
        <th>
           IVA
        </th>
        <th>
            Familia
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IVAId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
        </td>
    </tr>
}
</table>
