﻿@model IEnumerable<E_Shop.Web.Areas.Admin.Models.IVA.IVAIndexViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de IVAs</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>

<div class="row">
    <table id="DataTable" class="display col-sm-12" cellspacing="0">
        <thead>
            <tr>
                <th></th>
                <th>Nombre</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts
{
    <script type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataTable').DataTable({
            "bProcessing": true,
            "bServerSide": true,
            "oLanguage": { "sUrl": "//cdn.datatables.net/plug-ins/1.10.7/i18n/Spanish.json" },
            "columnDefs": [
            {
                "render": function (data, type, row) {
                    return "<a data-id='" + data + "' href='@Url.Action("Edit")/" + data + "@(Request.QueryString.Count!=0 ? "?" + Request.QueryString.ToString() : "")" + "' class='btn btn-pink'>Editar</a>";
                    },
                    width: "1%",
                    "targets": 0
                }],
                "sAjaxSource": "@Url.Action("IndexData")",
                "fnServerData": function (sSource, aoData, fnCallback) {
                    $.ajax({
                        "dataType": 'json',
                        "contentType": "application/json; charset=utf-8",
                        "type": "GET",
                        "url": sSource,
                        "data": aoData,
                        "success": function (msg) {
                            fnCallback(msg);
                            $("#DataTable").show();
                        },
                        error: function (xhr, textStatus, error) {
                            if (typeof console == "object") {
                                console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                            }
                        }
                    });
                }
            });
        });
    </script>
}