﻿@model IEnumerable<E_Shop.CORE.Domain.Classes.IVA>

@{
    ViewBag.Title = "TestService";
}

<h2>TestService</h2>

<p>
    @Html.ActionLink("Crear IVA", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Valor
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            </td>
        </tr>
    }
</table>

