﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EShop - @ViewBag.Title</title>
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/template")
@Styles.Render("~/Content/datatables")
</head>
<body>
    <header id="header">
        <div class="header_top">
            <div class="container">
                <div class="col-sm-6">
                    <div class="contactinfo ">
                        <ul class="nav nav-pills ">
                            <li>
                                <a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-envelope"></i> info@eshop.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!--/header_top-->
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("E Shop", "Index", "Shop", new { area = "" }, new { @class = "navbar-brand" })
                </div>
            </div>
        </div>
    </header><!--/header-->
<div class="container body-content">
    <div class="container body-content">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="left-sidebar">
                            <h2>Administración</h2>
                            <div class="panel-group category-products" id="accordian">
                                <!--category-productsr-->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordian" href="#products">
                                                <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                                Productos
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="products" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li>@Html.ActionLink("Listado", "Index", "Product")</li>
                                                <li>@Html.ActionLink("Crear", "Create", "Product")</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordian" href="#varieties">
                                                <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                                Variedades
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="varieties" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li>@Html.ActionLink("Listado", "Index", "Variety")</li>
                                                <li>@Html.ActionLink("Crear", "Create", "Variety")</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordian" href="#families">
                                                <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                                Familias
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="families" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li>@Html.ActionLink("Listado", "Index", "Family")</li>
                                                <li>@Html.ActionLink("Crear", "Create", "Family")</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordian" href="#ivas">
                                                <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                                IVAs
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="ivas" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li>@Html.ActionLink("Listado", "Index", "IVA")</li>
                                                <li>@Html.ActionLink("Crear", "Create", "IVA")</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordian" href="#comments">
                                                <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                                Comentarios
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="comments" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li>@Html.ActionLink("Listado", "Index", "Comment")</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordian" href="#orders">
                                                <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                                Pedidos
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="orders" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li>@Html.ActionLink("Listado", "Index", "Order")</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div><!--/category-products-->
                        </div>
                    </div>
                    <div class="col-sm-9 padding-right">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </section>
        <hr/>
        <footer id="footer">
            <!--Footer-->
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <p class="pull-left">Copyright © 2016 E-SHOP Inc. Todos los derechos reservados.</p>
                        <p class="pull-right">Diseñado por Daniel Ortiz Plaza</p>
                    </div>
                </div>
            </div>
        </footer><!--/Footer-->
    </div>
</div>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/template")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/moment")
    @RenderSection("scripts", required: false)
</body>
</html>


    
   