﻿@model IEnumerable<E_Shop.Web.Areas.Admin.Models.Variety.VarietyIndexViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de variedades</h2>

<p>
    @Html.ActionLink("Crear nueva", "Create")
</p>

<div class="row">
    <table id="DataTable" class="display col-sm-12" cellspacing="0">
        <thead>
            <tr>
                <th></th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>En Oferta</th>
                <th>Fecha</th>
                <th>Color</th>
                <th>Peso</th>
                <th>Material</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/moment")
    <script type="text/javascript">
        moment.locale('es');
        $(document).ready(function () {
            var table = $('#DataTable').DataTable({
                "bProcessing": true,
                "bServerSide": true,
                "oLanguage": { "sUrl": "//cdn.datatables.net/plug-ins/1.10.7/i18n/Spanish.json" },
                "columnDefs": [
                    {
                        "render": function (data, type, row) {
                            return "<a data-id='" + data + "' href='@Url.Action("Edit")/" + data + "@(Request.QueryString.Count!=0 ? "?" + Request.QueryString.ToString() : "")" + "' class='btn btn-pink'>Editar</a>";
                        },
                        width: "1%",
                        "targets": 0
                    },
                    {
                        "render": function (data, type, row) {
                            return moment(data).format('L');
                        },
                        "targets": 4
                    }
                ],
                "sAjaxSource": "@Url.Action("IndexData")",
                "fnServerData": function (sSource, aoData, fnCallback) {
                    $.ajax({
                        "dataType": 'json',
                        "contentType": "application/json; charset=utf-8",
                        "type": "GET",
                        "url": sSource,
                        "data": aoData,
                        "success": function (msg) {
                            fnCallback(msg);
                            $("#DataTable").show();
                        },
                        error: function (xhr, textStatus, error) {
                            if (typeof console == "object") {
                                console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                            }
                        }
                    });
                }
            });
        });
    </script>
}

