﻿@model IEnumerable<E_Shop.CORE.Domain.Classes.Variety>

@{
    ViewBag.Title = "TestService";
}

<h2>TestService</h2>

<p>
    @Html.ActionLink("Crear Variedad", "Create")
</p>
<table class="table">
    <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>En Oferta</th>
        <th>Fecha</th>
        <th>Color</th>
        <th>Peso</th>
        <th>Material</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OnSale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            </td>
        </tr>
    }
</table>

