﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EShop - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/template")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<header id="header">
    <div class="header_top">
        <div class="container">
            <div class="col-sm-6">
                <div class="contactinfo ">
                    <ul class="nav nav-pills ">
                        <li>
                            <a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-envelope"></i> info@eshop.com</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="social-icons pull-right">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="https://www.facebook.com/">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://dribbble.com/">
                                <i class="fa fa-dribbble"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!--/header_top-->
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("E Shop", "Index", "Shop", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @if (User.IsInRole("Admin"))
                        {
                            <a href="#">Admin<i class="fa fa-angle-down"></i></a>
                            <ul class="sub-menu">
                                <li>@Html.ActionLink("Productos", "Index", "Product", new { area = "Admin" }, new { @class = "" })</li>
                                <li>@Html.ActionLink("Variedades", "Index", "Variety", new { area = "Admin" }, new { @class = "" })</li>
                                <li>@Html.ActionLink("Familias", "Index", "Family", new { area = "Admin" }, new { @class = "" })</li>
                                <li>@Html.ActionLink("IVAs", "Index", "IVA", new { area = "Admin" }, new { @class = "" })</li>
                                <li>@Html.ActionLink("Comentarios", "Index", "Comment", new { area = "Admin" }, new { @class = "" })</li>
                                <li>@Html.ActionLink("Pedidos", "Index", "Order", new { area = "Admin" }, new { @class = "" })</li>
                            </ul>
                        }
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>


</header><!--/header-->

<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer id="footer">
        <!--Footer-->
        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2 col-xs-">
                        <div class="single-widget">
                            <h2>Servicios</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Ayuda Online</a></li>
                                <li><a href="#">Contacta con nosotros</a></li>
                                <li><a href="#">Estado del pedido</a></li>
                                <li><a href="#">Cambiar dirección</a></li>
                                <li><a href="#">FAQ’s</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Nuestros productos</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Guitarras</a></li>
                                <li><a href="#">Bajos</a></li>
                                <li><a href="#">Baterías</a></li>
                                <li><a href="#">Teclados</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Políticas</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Términos de uso</a></li>
                                <li><a href="#">Política de privacidad</a></li>
                                <li><a href="#">Pólitica de devoluciones</a></li>
                                <li><a href="#">Sistema de envío</a></li>
                                <li><a href="#">Sistema de tickets</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Acerca de nosotros</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Información de la compañía</a></li>
                                <li><a href="#">Trabaja con nosotros</a></li>
                                <li><a href="#">Dónde estamos</a></li>
                                <li><a href="#">Programa de afiliación</a></li>
                                <li><a href="#">Copyright</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single-widget">
                            <h2>Mantente informado</h2>
                            <form action="#" class="searchform">
                                <input type="text" placeholder="Tu dirección de correo"/>
                                <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
                                <p>Recibe información sobre nuestras últimas <br />novedades 
                                </p>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © 2016 E-SHOP Inc. Todos los derechos reservados.</p>
                    <p class="pull-right">Diseñado por Daniel Ortiz Plaza</p>
                </div>
            </div>
        </div>

    </footer><!--/Footer-->
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/template")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/zoom")
@RenderSection("scripts", required: false)
</body>
</html>
