﻿@model IEnumerable<E_Shop.Web.Models.Shop.ListViewModel>
<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>Categorías</h2>
        <div class="panel-group category-products" id="accordian">
            <!--category-productsr-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                            Guitarras
                        </a>
                    </h4>
                </div>
                <div id="sportswear" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>
                                <a href="#">Eléctricas </a>
                            </li>
                            <li>
                                <a href="#">Acústicas </a>
                            </li>
                            <li>
                                <a href="#">Amplificadores </a>
                            </li>
                            <li>
                                <a href="#">Repuestos</a>
                            </li>
                            <li>
                                <a href="#">Cuerdas </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="#mens">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                            Bajos
                        </a>
                    </h4>
                </div>
                <div id="mens" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>
                                <a href="#">Eléctricas </a>
                            </li>
                            <li>
                                <a href="#">Acústicas </a>
                            </li>
                            <li>
                                <a href="#">Amplificadores </a>
                            </li>
                            <li>
                                <a href="#">Repuestos</a>
                            </li>
                            <li>
                                <a href="#">Cuerdas </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="#womens">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                            Baterias
                        </a>
                    </h4>
                </div>
                <div id="womens" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>
                                <a href="#">Electrónicas</a>
                            </li>
                            <li>
                                <a href="#">Acústicas</a>
                            </li>
                            <li>
                                <a href="#">Parches</a>
                            </li>
                            <li>
                                <a href="#">Baquetas</a>
                            </li>
                            <li>
                                <a href="#">Platos</a>
                            </li>
                            <li>
                                <a href="#">Herrajes y soportes</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="#keys">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                            Teclados
                        </a>
                    </h4>
                </div>
                <div id="keys" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>
                                <a href="#">Sintetizadores</a>
                            </li>
                            <li>
                                <a href="#">Teclados</a>
                            </li>
                            <li>
                                <a href="#">Pianos</a>
                            </li>
                            <li>
                                <a href="#">Pianos digitales</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!--/category-products-->

        <div class="brands_products">
            <!--brands_products-->
            <h2>Marcas</h2>
            <div class="brands">
                <ul class="nav nav-pills nav-stacked">
                    @foreach (var p in Model)
                    {
                        <li>
                            <a href="#">@p.Brand</a>
                        </li>
                    }
                </ul>
            </div>
        </div><!--/brands_products-->

        <div class="price-range">
            <!--price-range-->
            <h2>Gama de precios</h2>
            <div class="nav nav-pills nav-stacked">
                <input type="radio" name="gender" value="1"> 0 - 500€ <br>
                <input type="radio" name="gender" value="2"> 500 - 1.000€ <br>
                <input type="radio" name="gender" value="3"> 1.000 - 1.500€ <br>
                <input type="radio" name="gender" value="3"> 1.500 - 2.000€ <br>
                <input type="radio" name="gender" value="3"> > 2.000€
            </div>
        </div><!--/price-range-->
    </div>
</div>
