﻿@model IEnumerable<E_Shop.Web.Models.Shop.ListViewModel>

@foreach (var p in Model)
{
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <a href="@Url.Action("Details", "Shop", new { id = @p.Id })">
                        <div class="productinfo" style="height: 370px; width: 255px;">
                            <div id="imagenlistaproducto">
                                <img src="@p.Image" style="max-height: 250px; max-width: 250px; height: auto; width: auto; " />
                            </div>
                            <div id="pieimagen" style="height: 30px; width: 255px;">
                                <h3>@p.Name</h3>
                                <h2>@p.Price</h2>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
}

