﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li>
            <a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
        </li>
        <li>
            @{Html.RenderAction("CartSummary", "ShoppingCarts");}
        @*<i class="fa fa-shopping-cart"></i>*@
    </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Registro", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        </li>
        <li>
            <a href="@Url.Action("Login", "Account")"><i class="fa fa-lock"></i> Login</a>
        </li>
        <li>
            @{Html.RenderAction("CartSummary", "ShoppingCarts");}
            @*<i class="fa fa-shopping-cart"></i>*@
        </li>
        
    </ul>
}
