﻿@model E_Shop.Web.Models.Shop.FamilyMenuViewModel

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          @foreach (var f in Model.SonFamily)
          {
            <li>
                <a href="">@f.ParentFamily.Name<i class="fa fa-angle-down"></i></a>
                <ul class="sub-menu">
                    @foreach (var r in Model.SonFamily.Where(r => r.ParentFamily.Id == f.ParentFamily.Id))
                {
                    foreach (var t in r.SonFamily)
                    {
                            <li><a class="families" data-id="@t.ParentFamily.Id" href="">@t.ParentFamily.Name</a></li>
                        }
                    }
                </ul>
            </li>
            
          }
            <li>
                @if (User.IsInRole("Admin"))
                {
                    <a href="#">Admin<i class="fa fa-angle-down"></i></a>
                            <ul class="sub-menu">
                                <li>@Html.ActionLink("Productos", "Index", "Product", new { area = "Admin" }, new { @class = "" })</li>
                                <li>@Html.ActionLink("Variedades", "Index", "Variety", new { area = "Admin" }, new { @class = "" })</li>
                                <li>@Html.ActionLink("Familias", "Index", "Family", new { area = "Admin" }, new { @class = "" })</li>
                                <li>@Html.ActionLink("IVAs", "Index", "IVA", new { area = "Admin" }, new { @class = "" })</li>
                                <li>@Html.ActionLink("Comentarios", "Index", "Comment", new { area = "Admin" }, new { @class = "" })</li>
                                <li>@Html.ActionLink("Pedidos", "Index", "Order", new { area = "Admin" }, new { @class = "" })</li>
                            </ul>
                }
            </li>
        </ul>
        @Html.Partial("_LoginPartial")
    </div>

@section Scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            $(".families").click(function () {
                var id = $(this).data("id");
                $.ajax({
                    url: '@Url.Action("ListByFamily", "Shop")',
                    type: 'GET',
                    data: { id: id }
                }).done(function (response) {
                    @Url.Action("Index", "Shop")
                    $("#dvList").html(response);
                });
            });
        });
    </script>
}