﻿@model E_Shop.Web.Models.ShoppingCart.ShoppingCartViewModel
@{
    ViewBag.Title = "Shopping Cart";
}

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <h2>Carrito de la compra</h2>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Producto</td>
                        <td class="description"></td>
                        <td class="price">Precio</td>
                        <td class="quantity">Cantidad</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody id="cuerpo">
                @foreach (var item in
                Model.CartItems)
                {
                    <tr id="row-@item.RecordId" class="fila">
                        <td class="cart-product">
                            <img src="@item.Image" style="max-width: 40px; max-height: 80px; width: auto" />
                        </td>
                        <td class="cart-description">
                            <h4><a href="">@Html.ActionLink(item.Variety.Product.FullName, "Details", "Shop", new { id = item.VarietyId }, null)</a></h4>
                        </td>
                        <td class="cart-price">
                            <p>@item.Variety.Product.Price</p>
                        </td>
                        <td id="item-count-@item.RecordId">
                            <p>@item.Count</p>
                        </td>
                        <td id="cart-total-@item.RecordId">
                            <p class="cart-total-price">@(item.Variety.Product.Price * @item.Count)</p>
                        </td>
                        <td class="cart-delete">
                            <a class="RemoveLink" href="javascript:void(0);" data-id="@item.RecordId">X</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->

<section id="do_action">
    <div class="container">
        <div class="heading">
            <p>A continuación puedes comprobar el importe total de tu compra.</p>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="total_area">
                    <ul>
                        <li>Sub Total<span>@Model.Subtotal</span></li>
                        <li>IVA<span>@Model.IVA</span></li>
                        <li>Gastos de envío<span>Gratis</span></li>
                        <li>
                            <b>Total</b><span><b>@Model.CartTotal</b></span></li>
                    </ul>
                </div>
            </div>
            <button type="button" class="btn btn-fefault cart center col-md-3" id="btnconfirmar">
                <i class="fa fa-check-square"></i>
                @Html.ActionLink("Confirmar compra", "AddressAndPayment", "Checkout", "", new { @id = "confirmar" })
            </button>
        </div>
    </div>
</section><!--/#do_action-->

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            //Método que elimina una unidad de un registro del carrito
            $(".RemoveLink").click(function() {
                var recordToDelete = $(this).attr("data-id");
                if (recordToDelete !== '') {
                    $.post("/ShoppingCarts/RemoveFromCart", { "recordId": recordToDelete },
                        function (data) {
                            //Si no quedan unidades, elimina la fila
                            if (data.ItemCount === 0) {
                                $('#row-' + data.DeleteId).fadeOut('slow');
                                location.reload();
                            } else {
                                $('#item-count-' + data.DeleteId).text(data.ItemCount);
                                location.reload();
                            }
                            $('#cart-total-' + data.DeleteId).text(data.CartTotal);
                            $(".total_area").html(response);
                            $('#cart-status').text('Cart (' + data.CartCount + ')');
                        });
                }
            });
        });
    </script>
}