﻿@model E_Shop.Web.Models.Order.OrderViewModel
<div class="col-md-6">
    <div class="form-horizontal">
        <hr/>
        <h3>Datos de facturación</h3>
        <div class="form-group">
            @Html.LabelFor(model => model.Order.BillingAddress.Dir, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Order.BillingAddress.Dir, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Order.BillingAddress.City, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Order.BillingAddress.City, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Order.BillingAddress.PostalCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Order.BillingAddress.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Order.BillingAddress.State, new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Order.ShippingAddress.State, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>
</div>
