﻿<div class="col-md-6">
    <div class="form-horizontal">
        <hr/>
        <h3>Datos de la tarjeta</h3>
        <div class="form-group">
            @Html.Label("Tipo", new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="tiposTarjeta">
                <label id="btnMaster" class="btntar">
                    <img class="tarjetas" src="~/Images/cards/master.png"/>
                </label>
                <label id="btnMaestro" class="btntar">
                    <img class="tarjetas" src="~/Images/cards/maestro.png"/>
                </label>
                <label id="btnVisa" class="btntar">
                    <img class="tarjetas" src="~/Images/cards/visa.png"/>
                </label>
                <label id="btnElectron" class="btntar">
                    <img class="tarjetas" src="~/Images/cards/electron.png"/>
                </label>
            </div>
            <div class="col-md-10" id="textoTipoTarjeta">
                @Html.Label("Tipo", new { @id = "lblTipo" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Número", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("Numero", new { htmlAttributes = new { @class = "form-control", @maxlength = "16" } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Fecha de caducidad", new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.Editor("Mes", new { htmlAttributes = new { @class = "form-control", @maxlength = "2" } }) 
            </div>
            <div class="col-md-2">
                @Html.Editor("Año", new { htmlAttributes = new { @class = "form-control", @maxlength = "2" } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("CVV", new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.Editor("CVV", new { htmlAttributes = new { @class = "form-control", @maxlength = "3" } })
            </div>
        </div>
    </div>
</div>