﻿<div class="col-md-9">
    <div class="form-horizontal">
        <hr/>
        <h3>Datos de la transferencia</h3>
        <div class="form-group">
            <strong>Ibercaja:</strong><br />
                IBAN: ES55 5555 5555 5555 5555<br />
                BIC: CAZRESXXX<br />
        </div>
        <div class="form-group">
            <strong>Beneficiario:</strong> EShop, S. L.<br/>
            <strong>Concepto:</strong> Nombre y apellidos del cliente y Nº de pedido en la web<br/>
            <strong>Enviar justificante a:</strong> daniel@daniel.com
        </div>
        <div class="form-group">
            Tramitaremos el pedido cuando la transferencia sea efectiva (recuerda que esto puede modificar la fecha de entrega)
        </div>
        <div class="form-group">
            En caso de rotura de stock mientras se formaliza el pago, procederemos a anular la compra y realizaremos el devolución del importe
        </div>
    </div>
</div>




