﻿@model E_Shop.Web.Models.Order.OrderViewModel
@{
    ViewBag.Title = "AddressAndPayment";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h2>Datos personales</h2>

    <fieldset>
        <div class="col-md-6">
            <div class="form-horizontal">
                <hr/>
                <h3>Datos de envío</h3>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.User.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.User.Name, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.User.SurName1, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.User.SurName1, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.User.SurName2, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.User.SurName2, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Order.ShippingAddress.Dir, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Order.ShippingAddress.Dir, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

               
                <div class="form-group">
                    @Html.LabelFor(model => model.Order.ShippingAddress.City, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Order.ShippingAddress.City, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Order.ShippingAddress.PostalCode, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Order.ShippingAddress.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Order.ShippingAddress.State, new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Order.ShippingAddress.State, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>
        </div>
        <div id="bill">
            @Html.Partial("_BillingAddress")
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label id="check">
                    <button class="btn btn-fefault" id="check">Desea otra dirección de facturación</button>
                </label>
            </div>
        </div>      
    </fieldset>
    <fieldset>
        <h3>Datos de pago</h3>
        <div class="metodospago col-md-9">
            <div class="col-md-3">
                @Html.RadioButtonFor(model => model.Order.PaymentMethod.Name, "tarjeta", new { id = "tarjeta" })Tarjeta de crédito
            </div>
            <div class="col-md-2">
                @Html.RadioButtonFor(model => model.Order.PaymentMethod.Name, "paypal", new { id = "paypal" })PayPal
            </div>
            <div class="col-md-3">
                @Html.RadioButtonFor(model => model.Order.PaymentMethod.Name, "transfer", new { id = "transfer" })Transferencia bancaria
            </div>
        </div>
        <div id="wtrans">
            @Html.Partial("_Transfer")
        </div>
        <div id="wcreditcard">
            @Html.Partial("_CreditCard")
        </div>
    </fieldset>
    <input id="confirmar" type="submit" class="btn btn-fefault cart" value="Confirmar pedido" style="margin-top: 50px"/>
   
}
@section Scripts
{

    <script type="text/javascript">
        $(document).ready(function() {

            //Método para mostrar/ocultar datos de facturación
            $("#check").click(function() {
                $("#bill").show();
                $("#check").hide();
            });

            //Método para mostrar los métodos de pago
            $(".metodospago").click(function() {
                if ($("#tarjeta").is(':checked')) {
                    $("#wcreditcard").show();
                    $("#wtrans").hide();
                } else if ($("#paypal").is(':checked')) {
                    window.open('https://www.paypal.com/signin/?country.x=ES&locale.x=es_ES');
                } else if ($("#transfer").is(':checked')) {
                    $("#wtrans").show();
                    $("#wcreditcard").hide();
                }
            });

            //Método para requerir al usuario un método de pago
            $("#confirmar").click(function() {
                if (!$("#tarjeta").is(':checked') && !$("#paypal").is(':checked') && !$("#transfer").is(':checked'))
                    alert("Por favor, seleccione un método de pago");
            });

            //Método de elcción de tipo de tarjeta
            $("#btnMaster").click(function() {
                if ($("#btnMaster").data('clicked', true)) {
                    $("#lblTipo").show();
                    $("#tiposTarjeta").hide();
                    $("#lblTipo").text("MasterCard");
                }
            });

            $("#btnMaestro").click(function() {
                if ($("#btnMaestro").data('clicked', true)) {
                    $("#lblTipo").show();
                    $("#tiposTarjeta").hide();
                    $("#lblTipo").text("Maestro");
                }
            });

            $("#btnVisa").click(function() {
                if ($("#btnVisa").data('clicked', true)) {
                    $("#lblTipo").show();
                    $("#tiposTarjeta").hide();
                    $("#lblTipo").text("Visa");
                }
            });

            $("#btnElectron").click(function() {
                if ($("#btnElectron").data('clicked', true)) {
                    $("#lblTipo").show();
                    $("#tiposTarjeta").hide();
                    $("#lblTipo").text("Visa Electron");
                }
            });
        });
    </script>
}
