﻿@model E_Shop.Web.Models.Order.OrderViewModel
@{
    ViewBag.Title = "Complete";
}
<section>
    <h2>Proceso completado</h2>
    <p>Gracias por su pedido <strong>@Model.Username!</strong></p>
    <p>Su número de pedido es: <strong>@Model.Order.Id</strong>, el cual se detalla a continuación:</p>
    <P>
    <table class="table table-condensed">
        <tbody id="cuerpo">
        @foreach (var item in Model.OrderDetails)
        {
            <tr>
                <td>
                    <h4>
                        <strong>@item.Variety.Product.FullName</strong>
                    </h4>
                </td>
                <td>
                    <h5>
                        <strong>@item.Variety.Product.Price</strong>
                    </h5>
                </td>
                <td>
                    <h5>
                        <strong>@item.Quantity</strong>
                    </h5>
                </td>
                <td>
                    <h5>
                        <strong>@(item.Variety.Product.Price * item.Quantity)</strong>
                    </h5>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <p>
        <div>
            <h3>
                Dirección de envío
            </h3>
            <div>
                @Model.Order.ShippingAddress.Dir
            </div>
            <div>
                @(Model.Order.ShippingAddress.PostalCode + " - " + Model.Order.ShippingAddress.City)
            </div>
            <div>
                @Model.Order.ShippingAddress.State
            </div>
        </div>
        <div>
            <h3>
                Dirección de facturación
            </h3>
            <div>
                <div>
                    @Model.Order.BillingAddress.Dir
                </div>
                <div>
                    @(Model.Order.BillingAddress.PostalCode + " - " + Model.Order.BillingAddress.City)
                </div>
                <div>
                    @Model.Order.BillingAddress.State
                </div>
            </div>

        </div>
    </p>
    <h5 style="text-align: right">
        Si desea realizar otras compras @Html.ActionLink("Pulse aquí", "Index", "Shop")
    </h5>
</section>


