﻿
@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>

<p>Lo sentimos, el proceso no se ha podido completar debido a algún error.
    <a href="javascript:history.go(-1)">Pulse aquí</a> 
    si desea intentarlo de nuevo.</p>