﻿@model IEnumerable<E_Shop.CORE.Domain.Classes.Order>

@{
    ViewBag.Title = "TestService";
}

<h2>TestService</h2>


<table class="table">
    <tr>
        <th>Usuario</th>
        <th>Fecha</th>
        <th>Metodo de Pago</th>
        <th>Pagado</th>
        <th>Estado</th>
        <th>Nº seguimiento</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackingNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            </td>
        </tr>
    }
</table>

