﻿@model E_Shop.Web.Models.Shop.FamilyMenuViewModel

<div class="panel-group category-products" id="accordian">
    <!--category-products-->
    <div class="panel panel-default">
        @foreach (var f in Model.SonFamily)
        {
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent=".accordian" href="#fam@(f.ParentFamily.Id)">
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                        @f.ParentFamily.Name
                    </a>
                </h4>
            </div>
            <div id="fam@(f.ParentFamily.Id)" class="panel-collapse collapse">
                <div class="panel-body">
                    @foreach (var r in Model.SonFamily.Where(r => r.ParentFamily.Id == f.ParentFamily.Id))
                    {
                        foreach (var t in r.SonFamily)
                        {
                            <ul>
                                <li>
                                    <a class="families" data-id="@t.ParentFamily.Id" href="javascript:void(0);">@t.ParentFamily.Name</a>
                                </li>
                            </ul>
                        }
                    }
                </div>
            </div>
        }
    </div>
</div>




