﻿@model E_Shop.Web.Models.Shop.DetailsViewModel

<h2 class="col-md-12 col-md-offset-4">Nuevo comentario</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=>m.Id);
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
           
            <div class="col-md-12 col-md-offset-4">
                @Html.TextAreaFor(model => model.Text,5,50,  new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-12">
            <input type="submit" value="Añadir" class="btn btn-fefault" />
        </div>
    </div>
}
<div>
    @Html.ActionLink("Volver al instrumento", "Details", new {id = Model.Id })
</div> 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
