﻿@model E_Shop.Web.Models.Shop.DetailsViewModel
@{
    ViewBag.Title = "Details";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 ">
                    <div class="product-details">
                        <!--product-details-->
                        <div id="gal1" class="col-sm-4 col-md-offset-1">
                            <div class="item" style="background-image: @Model.Image">
                                <img id="zoom_03" src="@Model.Image" data-zoom-image="@Model.Image" style="max-width: 400px; max-height: 300px;  height: auto; width:auto;" alt=""/>
                            </div>
                            <div id="similar-product" class="carousel-img">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="img-box" style="height: auto; width: auto">
                                        @foreach (var image in Model.ImagesFiles)
                                        {
                                            <a href="#" data-image="@image" data-zoom-image="@image" style="width: 50px; height: 50px">
                                                <img id="im" src="@image" style="max-width: 50px; max-height: 50px; height: auto; width:auto;" alt="">
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="product-information">
                                <!--/product-information-->
                                <h3>@Html.DisplayFor(model => model.Name)</h3>
                                <p>
                                    <b>Unidades Disponibles: </b>@Html.DisplayFor(model => model.Stock, new { @id = "stock" })
                                </p>
                                <p>
                                    <b class="cantidad">Cantidad:</b>
                                    @Html.DropDownListFor(model => model.Quantity, new SelectList(ViewBag.list, "Text", "Value"))
                                </p>
                                <p>
                                    <span>
                                    <span>@Html.DisplayFor(model => model.Price)€</span>
                                </span>
                                </p>
                                <p>
                                    <b>Color:</b> @Html.DisplayFor(model => model.Variety.Colour)</p>
                                <p>
                                    <b>Material:</b> @Html.DisplayFor(model => model.Variety.Material)</p>
                                <p>
                                    <b>Peso:</b> @Html.DisplayFor(model => model.Weight) Kgs
                                </p>
                                
                                <span>
                                    <button type="button" class="btn btn-fefault cart">
                                        <i class="fa fa-shopping-cart"></i>
                                        @Html.ActionLink("Añadir al carrito", "AddToCart", "ShoppingCarts", new { id = Model.Id, cantidad = 'x'}, new { @id = "addToCart"})
                                    </button>
                            </span>
                                
                            </div><!--/product-information-->
                        </div>
                    </div><!--/product-details-->

                    <div class="category-tab shop-details-tab">
                        <!--category-tab-->
                        <h2 class="title text-center">Comentarios</h2>
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="reviews">
                                @foreach (var c in Model.Comments)
                                {
                                    <div class="col-sm-12">
                                        <ul>
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-user"></i>@c.User</a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-clock-o"></i>@c.DateTime</a>
                                            </li>
                                        </ul>
                                        <p>@c.Text</p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div><!--/category-tab-->
                    <button type="button" class="btn btn-fefault cart center">
                        <i class="fa fa-shopping-cart"></i>
                        @Html.ActionLink("Añadir Comentario", "CreateComment", "Shop", new { id = Model.Id }, "")
                    </button>
                </div>
            </div>
        </div>
    </section>
}

@section Scripts
{
    <script type="text/javascript">
        var $ = jQuery.noConflict();

        //Método que elige una imagen de una galería de imágenes
        $("#zoom_03").elevateZoom({ gallery: 'gal1', cursor: 'pointer', galleryActiveClass: 'active', imageCrossfade: true });
        $("#zoom_03").bind("click", function(e) {
            var ez = $('#zoom_03').data('elevateZoom');
            $.fancybox(ez.getGalleryList());
            return false;
        });

        //Método que encapsula la cantidad seleccionada para pasarsela al método "addToCart" del controlador del carrito
        $("#addToCart").click(function() {
            var cantidad = $("#Quantity").val();
            this.href = this.href.replace("x", cantidad);

            if (cantidad === null) {
                alert("En este momento no quedan unidades disponibles de este producto, en breves recibiremos más");
                return false;
            }
        });

        //Método que bloquea el link del carrito de la compra si está vacío
        $("#cart-status").click(function () {
            if ($('#cart-status').text() === 'Carrito (0)') {
                return false;
            }
        });
    </script>
}
