﻿@model IEnumerable<E_Shop.Web.Models.Shop.DetailsViewModel>

<div class="carousel-inner">
    @foreach (var image in Model)
    {
        <img id="" src="@image" style="width: 50px; height: 50px">
    }
</div>

