﻿@using Microsoft.Ajax.Utilities
@model IEnumerable<E_Shop.Web.Models.Shop.ListViewModel>
@{
    ViewBag.Title = "Index";
}

@section Scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            var show_per_page = 9;
            var number_of_items = $("#dvList").children().size();
            var number_of_pages = Math.ceil(number_of_items / show_per_page);

            //Método que bloquea el link del carrito de la compra si está vacío
            $("#cart-status").click(function () {
                if ($('#cart-status').text() === 'Carrito (0)') {
                    return false;
                }
            });

            //Método que oculta y muestra las marcas de los instrumentos
            $('ul.collap').wrap('<div class="collapseWrapper" />');
            $('div.collapseWrapper').css({ 'height': '100px' }).after('<a href="#" class="collapseMore col-sm-offset-5">Ver todas</a>');
            $('a.collapseMore').click(function() {
                if ($(this).hasClass('expanded')) {
                    $(this).prev().animate({ height: '100px' }, 500);
                    $(this).text('Ver todas').removeClass('expanded');
                } else {
                    $(this).prev().animate({ height: $(this).prev().find('ul.collap').outerHeight(true) }, 500);
                    $(this).text('Ocultar').addClass('expanded');
                }
                return false;
            });

            //Método de paginación: crea el listado de páginas debajo del listado de instrumentos
            $('#current_page').val(0);
            $('#show_per_page').val(show_per_page);

            var navigation_html = '<a class="previous_link" href="javascript:previous();">Prev</a>';
            var current_link = 0;
            while (number_of_pages > current_link) {
                navigation_html += '<a class="page_link" href="javascript:go_to_page(' + current_link + ')" longdesc="' + current_link + '">' + (current_link + 1) + '</a>';
                current_link++;
            }
            navigation_html += '<a class="next_link" href="javascript:next();">Next</a>';

            $('#page_navigation').html(navigation_html);

            $('#page_navigation .page_link:first').addClass('active_page');

            $("#dvList").children().css('display', 'none');

            $("#dvList").children().slice(0, show_per_page).css('display', 'block');


            //Método que trae los instrumentos de la familia seleccionada
            $(".families").click(function() {
                var id = $(this).data("id");
                $.ajax({
                    url: '@Url.Action("ListByFamily", "Shop")',
                    type: 'GET',
                    data: { id: id }
                }).done(function (response) {
                    // Si los instrumentos son baterías o teclados
                    if (id === 10 || id === 11 || id === 12 || id === 13 || id === 14 || id === 15 || id === 26 || id === 27) {
                        alert("En estos momentos no tenemos ningún instrumento de esa clase disponible");
                        return false;
                    } else {
                        $("#dvList").html(response);
                    }
                });
            });

            //Método que trae los instrumentos de la marca seleccionada
            $(".brands").click(function() {
                var brand = $(this).data("brand");
                $.ajax({
                    url: '@Url.Action("ListByBrand", "Shop")',
                    type: 'GET',
                    data: { brand: brand }
                }).done(function(response) {
                    $("#dvList").html(response);
                    $(".pagination").hide();
                });

            });

            //Método que trae los instrumentos por el rango de precios seleccionado
            $("#priceRangeRadio").click(function() {

                if ($('#priceRange1').is(':checked')) {
                    $.ajax({
                        url: '@Url.Action("ListByPrice", "Shop")',
                        type: 'GET',
                        data: { price1: '0', price2: '500' }
                    }).done(function(response) {
                        $("#dvList").html(response);

                    });
                } else if ($('#priceRange2').is(':checked')) {
                    $.ajax({
                        url: '@Url.Action("ListByPrice", "Shop")',
                        type: 'GET',
                        data: { price1: '500', price2: '1000' }
                    }).done(function(response) {
                        $("#dvList").html(response);

                    });
                } else if ($('#priceRange3').is(':checked')) {
                    $.ajax({
                        url: '@Url.Action("ListByPrice", "Shop")',
                        type: 'GET',
                        data: { price1: '1000', price2: '1500' }
                    }).done(function(response) {
                        $("#dvList").html(response);

                    });
                } else if ($('#priceRange4').is(':checked')) {
                    $.ajax({
                        url: '@Url.Action("ListByPrice", "Shop")',
                        type: 'GET',
                        data: { price1: '1500', price2: '2000' }
                    }).done(function(response) {
                        $("#dvList").html(response);
                    });
                } else if ($('#priceRange5').is(':checked')) {
                    $.ajax({
                        url: '@Url.Action("ListByPrice", "Shop")',
                        type: 'GET',
                        data: { price1: '2000', price2: '20000' }
                    }).done(function(response) {
                        $("#dvList").html(response);
                    });
                }
            });

            $("#brandsection").scrollTop();
        });

        //Método de paginación: vuelve a la página anterior
        function previous() {

            new_page = parseInt($('#current_page').val()) - 1;

            if ($('.active_page').prev('.page_link').length == true) {
                go_to_page(new_page);
            }

        }

        //Método de paginación: salta a la página posterior
        function next() {
            new_page = parseInt($('#current_page').val()) + 1;

            if ($('.active_page').next('.page_link').length == true) {
                go_to_page(new_page);
            }

        }

        //Método de paginación: muestra instrumentos en función de la página seleccionada
        function go_to_page(page_num) {

            var show_per_page = parseInt($('#show_per_page').val());

            start_from = page_num * show_per_page;

            end_on = start_from + show_per_page;

            $("#dvList").children().css('display', 'none').slice(start_from, end_on).css('display', 'block');

            $('.page_link[longdesc=' + page_num + ']').addClass('active_page').siblings('.active_page').removeClass('active_page');

            $('#current_page').val(page_num);
        }
    </script>
}
<input type='hidden' id='current_page' />
<input type='hidden' id='show_per_page' />  
    <section id="slider">
        <!--slider-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" style="max-height: 400px">
                            <div class="item active">
                                <div class="col-sm-6">
                                </div>
                                <div class="col-sm-6">
                                    <img src="/Images/carousel/Carousel1.jpg" class="girl img-responsive" alt="" style="max-height: fit-content"/>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-sm-6">
                                </div>
                                <div class="col-sm-6">
                                    <img src="/Images/carousel/Carousel2.jpg" class="girl img-responsive" alt=""/>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-sm-6">
                                </div>
                                <div class="col-sm-6">
                                    <img src="/Images/carousel/Carousel3.jpg" class="girl img-responsive" alt=""/>
                                </div>
                            </div>
                        </div>
                        <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/slider-->

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2>Categorías</h2>
                                @Html.Action("FamilyMenu", "Shop")
                        <div class="brands_products">
                            <!--brands_products-->
                            <h2>Marcas</h2>
                            <div id="brandsection">
                                <ul class="collap">
                                    @foreach (var p in Model.DistinctBy(p => p.Brand))
                                    {
                                        <li>
                                            <a class="brands" href="javascript:void(0);" data-brand="@p.Brand">@p.Brand</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div><!--/brands_products-->

                        <div id="price-range">
                            <!--price-range-->
                            <h2>Gama de precios</h2>
                            <div class="nav nav-pills nav-stacked" id="priceRangeRadio">
                                <input type="radio" name="priceradio" id="priceRange1" href="javascript:void(0);" data-price1="0" data-price2="500" value="1"> 0 - 500€ <br>
                                <input type="radio" name="priceradio" id="priceRange2" href="javascript:void(0);" data-price1="500" data-price2="1000" value="2"> 500 - 1.000€ <br>
                                <input type="radio" name="priceradio" id="priceRange3" href="javascript:void(0);" data-price1="1000" data-price2="1500" value="3"> 1.000 - 1.500€ <br>
                                <input type="radio" name="priceradio" id="priceRange4" href="javascript:void(0);" data-price1="1500" data-price2="2000" value="4"> 1.500 - 2.000€ <br>
                                <input type="radio" name="priceradio" id="priceRange5" href="javascript:void(0);" data-price1="2000" data-price2="20000" value="5"> > 2.000€
                            </div>
                        </div><!--/price-range-->
                    </div>
                </div>
                <div class="col-sm-9 padding-right">
                    <div class="features_items">
                        <!--features_items-->
                        <h2 class="title text-center">Productos</h2>
                        <div id="dvList">
                            @{ Html.RenderPartial("_ListPartial", Model);}
                        </div>
                        <ul class="pagination">
                            <li id='page_navigation'></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


